@font-face {font-family: "Museo-500";
    src:url("../fonts/MuseoSlab-500/312252_0_0.eot");
    src: url("../fonts/MuseoSlab-500/312252_0_0.eot?#iefix") format("embedded-opentype"),url("../fonts/MuseoSlab-500/312252_0_0.woff2") format("woff2"),url("../fonts/MuseoSlab-500/312252_0_0.woff") format("woff"),url("webfonts/312252_0_0.ttf") format("truetype");
    }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Museo-500";
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
body {
    background-color:white;
}
.elytra-title{
	font-size:30px
}
.clima-maps {
	font-size: 67px;
    line-height: 67px;
	padding-bottom: 26px;
}	
.short-desc {
    text-align: justify;
    margin: 0 0 35px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
}
/*---------------------header----------------------*/
.top-navbar{
    background-color: black;
    height: 10px;
    min-height: 10px;
}
/*-------------------main menu ------------------- */
.main-menu {
	height: 26px;
    margin-top: 26px;
	border-bottom: 1px solid #666666;
}
.main-menu  .menu-ul {
    list-style-type: none;
}
.main-menu  .menu-ul .divline{
    padding: 0;
    border-right: thin solid gray;
    height: 15px;
    margin: 10px 0 0;
    margin-left: 8px;
}
.main-menu  .menu-ul li{
    float: left;
	display: list-item;
    text-align: -webkit-match-parent;
}
.main-menu  .menu-ul li.current{
    background-color:black;
}
.main-menu  .menu-ul li a{
    text-decoration: none;
	font-family: Museo-500;
	font-size:18px;
	color: #42413C;
    padding-left: 25px;
    padding-right: 25px;
}
.main-menu  .menu-ul li.current a{
    color:white;
}
/*-----------------main content--------------------*/
.main-content-row{
    min-height: 650px;
}
/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 160px;
  background-color: black;
  padding: 20px 0;
}
.footer a{
  color: #f5f5f5;
}
.footer .rights {
  padding :30px 0 0 10px;
  color:#666666;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.footer .company-logos{
	
}
/*------------------general rules---------------------*/
code {
  font-size: 80%;
}
.squiggle-container{
    display: none;
}
.clear{
    clear:both;
}
.left{
    float:left;
}
.right{
    float:right;
}

/*--------------------------maps logic-----------------------------*/
.clima-maps{
    margin-top:0;
}
.main-map-container .fa{
    padding:0 6px;
    font-size: 2.5em;
    color: #333;
    border-radius: 7px;
    padding:0 4px;
    -webkit-transition: background-color .2s,color .2s;
    transition: background-color .2s, color .2s;
}
.main-map-container .ui-buttons .buttons-inner .fa:hover,
.main-map-container #runSimulation:hover{
    cursor: pointer;
}
.main-map-container .ui-buttons .buttons-inner .fa:hover,
.main-map-container #runSimulation:hover{
    cursor: pointer;
    background-color: #333;
    color:#f9f9f9;
}
.main-map-container .ui-buttons .buttons-inner .fa:active,
.main-map-container #runSimulation:active{
    color: #afd9ee;
}
.main-map-container .ui-buttons{
    height: 18px;
    margin-top: 23px;
}
.main-map-container .ui-buttons .buttons-inner {
    width:135px;
}
.main-map-container .ui-buttons .ui{
    float:left;
}
.main-map-container .ui-buttons .ui.map-slider{
    margin-left: 20px;
    margin-top: 5px;
    cursor: default;
}
.main-map-container .ui-buttons .ui.map-slider span {
    font-family: Museo-500;
    font-size: 1.2em;
}

.main-map-container .ui-buttons .ui.map-slider .fa {
    font-size: 1em;
}
.main-map-container .ui-buttons #datetimepicker {
    border: none;
    font-size: 19px;
    font-family: Museo-500;
    vertical-align: top;
    margin-top: 6px;
    margin-left: 8px;
    outline: 0;
    width: 172px;
}
.main-map-container .ui-buttons  #dateTimeClick{
    margin-left: 25px;
    margin-top:2px;
}
.main-map-container .ui-buttons  #dateTimeClick:hover {
    cursor: pointer;
}
/*--------------------------d3 slider-----------------------------*/
#slider1 {
    width: 120px;
    margin: 6px 12px;
}

.d3-slider {
    position: relative;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.1em;
    border: 1px solid #aaaaaa;
    z-index: 2;
    margin: 12px 0 4px 0;
}

.d3-slider-horizontal {
    height: .2em;
}

.d3-slider-vertical {
    width: 1em;
    height: 100px;
}

.d3-slider-handle {
    position: absolute;
    width: 1.7em;
    height: 1.7em;
    border: 1px solid #333;
    border-radius: 4px;
    background: #eee;
    background: linear-gradient(to bottom, #333 80%, #ddd 100%);
    z-index: 3;
}

.d3-slider-handle:hover {
    border: 1px solid #333;
    cursor: pointer;
}

.d3-slider-horizontal .d3-slider-handle {
    top: -.5em;
    margin-left: -.6em;
}

.d3-slider-axis {
    position: relative;
    z-index: 1;
}

.d3-slider-axis-bottom {
    top: .8em;
}

.d3-slider-axis-right {
    left: .8em;
}

.d3-slider-axis path {
    stroke-width: 0;
    fill: none;
}

.d3-slider-axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.d3-slider-axis text {
    font-size: 11px;
}

.d3-slider-vertical .d3-slider-handle {
    left: -.25em;
    margin-left: 0;
    margin-bottom: -.6em;
}

/*---------movement visualizations ----------*/
.movement-img-container, .main-map{
    height:820px;
    width: 710px;
    padding-left:15px;
    padding-top:18px;
}
.main-map .canopy-base-map{
    width: 710px;
    height: 628px;
    position: relative;
    bottom: 0px;
    right: 0px;
    pointer-events: none; /*http://stackoverflow.com/questions/3680429/click-through-a-div-to-underlying-elements*/
}
#modcam-img{
    width: 708px;
    height: 628px;
    position: absolute;
    display: inline;
}
.main-map .utci-map-container{
    width: 708px;
    height: 628px;
    position: absolute;
    display: inline;
}
.current-hour{
    font-family: Museo-500;
    clear:both;
    font-size: 20px;
    padding-top: 15px;
    height:36px;
}