@font-face {font-family: 'MuseoSlab-500';src: url('../webfonts/3108DF_0_0.eot');src: url('../webfonts/3108DF_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/3108DF_0_0.woff2') format('woff2'),url('../webfonts/3108DF_0_0.woff') format('woff'),url('../webfonts/3108DF_0_0.ttf') format('truetype');}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: MuseoSlab-500;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}	
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #f9f9f9;
}
body > .container {
  padding: 60px 15px 0;
}
.elytra-title{
	font-size:30px
}
.clima-maps {
	font-size: 74px;
    line-height: 67px;
	padding-bottom: 26px;
}	
.short-desc {
    text-align: justify;
    margin: 0 0 35px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
}
/*---------------------header----------------------*/
.top-navbar{
    background-color: black;
    height: 10px;
    min-height: 10px;
}
/*-------------------main menu ------------------- */
.main-menu {
	height: 26px;
    margin-top: 26px;
	border-bottom: 1px solid #666666;
}
.main-menu  .menu-ul {
    list-style-type: none;
}
.main-menu  .menu-ul .divline{
    padding: 0;
    border-right: thin solid gray;
    height: 15px;
    margin: 10px 0 0;
    margin-left: 8px;
}
.main-menu  .menu-ul li{
    float: left;
    padding-right: 26px;
	padding-left: 26px;
	display: list-item;
    text-align: -webkit-match-parent;
}
.main-menu  .menu-ul li.current{
    background-color:black;
}
.main-menu  .menu-ul li a{
    text-decoration: none;
	font-family: MuseoSlab-500;
	font-size:18px;
	color: #42413C;
}
.main-menu  .menu-ul li.current a{
    color:white;
}
/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 160px;
  background-color: black;
  padding: 20px 0;
}
.footer a{
  color: #f5f5f5;
}
.footer .rights {
  padding :30px 0 0 10px;
  color:#666666;
}
/* Custom page CSS
-------------------------------------------------- */

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.footer .company-logos{
	
}

code {
  font-size: 80%;
}
